/*✱fonts*/
@import url(https://fonts.googleapis.com/css?family=Arvo|Open+Sans:300,400,600,700|Asap:400,500,600,700|PT+Sans:400,700);

/*✱text*/
html {
    font-family: "Open Sans", Open Sans, sans-serif;
    background-color: rgb(250, 250, 250);
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    margin: 0;
    /*    border-top: 5px solid white;*/
    /*    border-bottom: 3px solid lightpink;*/
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 1.8em;
    display: block;
    padding-top: 200px;
    padding-left: 10%;
    padding-right: 10%;
}
h2 {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 2em;
    display: block;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold;
}
h3 {
    font-family: 'Arvo', serif;
    text-align: left;
    font-size: 1.5proem;
    color: darkgray;
    margin: auto;
    margin-left: 25%;
    max-width: 25%;
    float: left;
}
h4 {
    font-size: 1.5em;
    font-family: 'Arvo', serif;
    color: black;
    text-align: center;
    display: block;
    /*    width: 25%;*/
    /*        flex: 10%;*/
    /*    max-width: 640px;*/
}
p {
    margin: 0;
    padding: none;
}
section {
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    max-width: 550px;
    margin: none;
    margin-left: 40%;
    padding: none;
    padding-bottom: 50px;
    color: dimgrey;
}
.prompt {
    float: center;
    margin: auto;
    padding: 50px 0 0 0;
}
.center {
    margin-left: 33.3%;
}
.subtitle {
    font-family: 'Asap', sans-serif;
    font-size: 14px;
    color: dimgray;
    float: center;
    text-align: center;
    padding-bottom: 50px;
    padding-right: 10%;
    padding-left: 10%;
    font-weight: 500;
}
.processheader {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    text-transform: lowercase;
    text-align: left;
    margin-left: 30%;
    max-width: 30%;
    float: left;
    color: dimgray;
}
.bookmark {
    color: gainsboro;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0px;
    padding-right: 10%;
    padding-left: 10%;
}
.body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: left;
    padding-bottom: 0px;
}
.title {
    font-family: "Asap", Asap, sans-serif;
    text-align: center;
    font-size: 14px;
    color: dimgray;
    margin: auto;
    display: block;
    padding-top: 10px;
    /*
    padding-right: 10%;
    padding-left: 10%;
    */
}
span .title {
    margin-top: 65px;
}
figcaption {
    font-family: "Asap", Asap, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    color: dimgray;
    margin: auto;
    display: block;
    padding-top: 15px;
    padding-bottom: 50px;
}
.spacer {
    padding-top: 75px;
    padding-bottom: 75px;
    color: black;
    display: block;
    text-align: center;
}
ol li {
    padding-top: 10px;
}

/*-----------------------------------------------*/
/*✱links*/

a {
    color: #6fa8dc;
}
a:visited {
    color: mediumorchid;
}

/*-----------------------------------------------*/
/*✱landing page*/
iframe.landing {
    width: 100%;
    height: 885px;
    overflow: hidden;
}
iframe.landing:hover {
    
}
.herotext {
    position: absolute;
/*    position: fixed;*/
    top: 24%;
    width: 100%;
/*    height: 100%;*/
/*    z-index: -5;*/
}

/*-----------------------------------------------*/
/*✱navbar*/

nav ul {
    list-style-type: none;
    margin: 0px;
    padding-bottom: 5px;
    overflow: hidden;
    color: black;
}
nav ul li {
    float: left;
    font-size: 16px;
    color: black;
    padding: 25px;
}
ul div {
    float: right;
    padding-right: 50px;
}
ul li a {
    font-family: Asap;
    font-size: 14px;
    font-weight: 500;
    text-transform: lowercase;
    text-decoration: none;
    transition: .5s ease-out;
    text-align: center;
    color: black;
}
ul li a:hover:not(.active) {
    color: lightpink;
    transition: .5s ease-out;
}
ul li a:visited {
    color: black;
}
ul li a.active {
    color: lightpink;
}
/*
#name {
float: center;
margin: auto;
display: block;
}
*/
#favicon {
    margin-left: 5px;
    width: 23px;
    position: fixed;
    top: 25px;
}
iframe.navbar {
    width: 100%;
    height: 75px;
    background-color: rgb(250, 250, 250);
    overflow: hidden;
}
@media screen and (max-width: 700px) {
    ul, ul li.name, ul div, ul li {
        float: none;
        padding: 0px;
        text-align: center;
    }
    ul {
        padding-top: 50px;

    }
    ul div {
        padding-top: 25px;
        float: none; 
        text-align: center;
    }
}

/*-----------------------------------------------*/
/*✱footer*/

iframe.footer {
    background-color: white;
    width: 100%;
    height: 150px;
    color: black;
}

/*-----------------------------------------------*/
/*✱HOME GALLERY STYLE*/

.home {
    column-count: 2;
    column-gap: 18px;
    padding-left: 8%;
    padding-top: 25px;
    padding-right: 8%;
    max-width: 100%;
}
.home3 {
    column-count: 3;
    padding-left: 8%;
    padding-top: 25px;
    padding-right: 8%;
    max-width: 100%;
}
.home span, .home3 span {
    display: inline-block;
    padding: 0px;
    padding-bottom: 15px;
    position: relative;
}
.home img, .home video, .home3 img, .home3 video {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: .5s ease;
}
.home .container:hover img, .home .container:hover video, .home .container:hover iframe, .home3 .container:hover img, .home3 .container:hover video, .home3 .container:hover iframe {
    opacity: 0.05;
    transition: .5s ease;
    overflow: hidden;
    
/*
    transform: perspective(1000px) rotateY(-5deg);
    transition: transform .3s;
*/
    
/*        box-shadow: -5px 5px 10px rgba(0,0,0,.1);*/
    /*
    filter:blur(1px);
    overflow: hidden;
    */
}
.home .title, .home3 .title {
    opacity: 0;
    text-align: center;
    color: black;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -100%);
    text-align: center;
    padding: none;
    text-decoration: none;
    padding-bottom: 50px;
}
.container:hover .title {
    opacity: 1;
    transition: 1s ease;
}
.home .container, .home3 .container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: none;
}
@media screen and (max-width: 1200px) {
    .home3 {
        column-count: 2;
    }
}
@media screen and (max-width: 1000px) {
    .home, .home3 {
        column-count: 1;
        padding-left: 10%;
        padding-top: 50px;
        padding-right: 10%;
        max-width: 100%;
        display: block;
    }
}
@media screen and (max-width: 850px) {
    .home, .home3 {
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 100px;
    }
}
/*-----------------------------------------------*/
/*✱gallery style 1: single image*/

div.gallery {
    margin: 25px 0px 50px 0px;
    float: center;
}
div.gallery img {
    display: block;
    margin: auto;
    border: none;
    float: center;
}
.desc {
    padding-top: 10px;
    font-family: "Asap", Asap, sans-serif;
    text-align: center;
    font-size: 14px;
    color: darkgray;
    margin: auto;
    display: block;
    font-style: italic;
}
div.white {
    background-color: white;
}
iframe {
    display: block;
    margin: auto;
    border: none;
    float: center;
    padding-bottom: 15px;
}
@media screen and (max-width: 1330px) {
    img {
        width: 100%;
    }
}

/*-----------------------------------------------*/
/*✱gallery style 2: flexbox*/

* {
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}
.column {
    flex: 25%;
    max-width: 25%;
}
.column2 {
    flex: 50%;
    max-width: 50%;
}
.column3 {
    flex: 33%;
    max-width: 33%;
}
.column img, .column2 img, .column3 img {
    padding: 2px;
    vertical-align: middle;
    width: 100%;
}
.column video, .column2 video, .column3 video {
    width: 100%;
    padding: 2px;
}
@media screen and (max-width: 1400px) {
    .column {
        flex: 33%;
        max-width: 33%;
    }
}
@media screen and (max-width: 1000px) {
    .column, .column3 {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column, .column2, .column3 {
        flex: 100%;
        max-width: 100%;
    }
}

/*-----------------------------------------------*/
/*✱gallery style 3: seamless photo grid*/

.grid {
    /*    display: grid;*/
    line-height: 0;
    /*    grid-template-columns: auto auto auto;*/
    column-count: 3;
    column-gap: 4px;
    float: center;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;
    grid-auto-flow: row;
    justify-content: center;
}

.grid img {
    width: 100% !important;
    height: auto !important;
    padding-top: 4px;
    /*    display: inline-grid;*/
}

/*-----------------------------------------------*/
/*✱gallery style 4: seamless photo grid*/
/*

.grid2 {
padding-left: 10%;
padding-right: 10%;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
grid-template-rows: 10%;
grid-column-gap: 4px;
grid-auto-flow: column;
}
.grid2 img {
width: 100% !important;
height: auto !important;
padding-top: 4px;
}
*/
